.chat-main__messages__message{data: {message: {id: message.id}}}
  .chat-main__messages__message__upper-info
    .chat-main__messages__message__upper-info__talker
      = message.user.name
    .chat-main__messages__message__upper-info__data
      = message.created_at.strftime("%F %a %R")
  .chat-main__messages__message__lower-info
    - if message.text.present?
      %p.chat-main__messages__message__lower-info__text
        = message.text
    = image_tag message.image.url, class: "chat-main__messages__message__lower-info__image" if message.image.present?