.chat-side
  .chat-side__side-header
    .chat-side__side-header__box
      .chat-side__side-header__box__user-name
        -# = current_user.name
      %ul.chat-side__side-header__box__menu
        %li.chat-side__side-header__box__menu__edit-user
          = link_to "#", class: "chat-side__side-header__box__menu__edit-user__link" do
            = icon("fas", "edit")
        %li.chat-side__side-header__box__menu__new-group
          = link_to "#", class: "chat-side__side-header__box__menu__new-group__link" do
            = icon("fas", "cog")
  .chat-side__groups
    -# - current_user.groups.each do |group|
    -#   = link_to group_messages_path(group), class:"chat-side__groups__group" do
    -#     .chat-side__groups__group__list
    -#       .chat-side__groups__group__list__name
    -#         = group.name
    -#       .chat-side__groups__group__list__news
    -#         = group.show_last_message